@tailwind components;

@layer components {
  .dock-wrapper {
    --dock-width: 36px;
    z-index: 20;
    position: fixed;
    min-width: var(--dock-width);
    min-height: 40px;
    gap: 6px;
    left: calc(50% - (var(--dock-width) / 2));
    bottom: 24px;
    @apply flex flex-col p-1.5;
  }
  .dock-work-header {
    @apply w-full h-12;
  }
  .dock-work-content {
    height: calc(100% - 48px);
    @apply w-full;
  }
}
