.icon-wrapper {
  &:hover {
    .svg-icon {
      --color: #000;
      & {
        & > g > path {
          fill: var(--color);
        }
        & > g > g > path {
          fill: var(--color);
        }
      }
    }
  }
}

.svg-icon {
  --color: #000;
  &:hover {
    & > g > path {
      fill: var(--color);
    }
    & > g > g > path {
      fill: var(--color);
    }
  }
  & {
    & > g > path {
      fill: hsl(var(--yz13-secondary));
      @apply transition-colors duration-300;
    }
    & > g > g > path {
      fill: hsl(var(--yz13-secondary));
      @apply transition-colors duration-300;
    }
  }
}
