@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* *, */
  /* *::before, */
  /* *::after { */
  /* @apply border-border; */
  /* } */
  body {
    @apply bg-background font-text text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings;
  }
  ::-webkit-scrollbar {
    @apply w-3;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0px;
    @apply bg-accents-2;
  }
  .no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
    display: none;
  }
  .no-scrollbar::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
    background-color: transparent;
    display: none;
  }
}

@layer component {
  .workspace-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--workspace-grid-item), 1fr)
    );
    grid-template-rows: repeat(
      auto-fill,
      minmax(var(--workspace-grid-item), 1fr)
    );
  }
}
