@import url("https://ooybokfuxqwahirzlujp.supabase.co/storage/v1/object/public/static/css/vars.css");
@import url("@yz13/mono/globals.css");
@import url("./dock/dock.css");
@import url("./illustration.css");
@import url("./markdown.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --activity-lvl-1-bg: hsl(var(--yz13-neutral-200));
  --activity-lvl-1-border: hsl(var(--yz13-neutral-400));
  --activity-lvl-2-bg: hsl(var(--yz13-neutral-400));
  --activity-lvl-2-border: hsl(var(--yz13-neutral-600));
  --activity-lvl-3-bg: hsl(var(--yz13-neutral-600));
  --activity-lvl-3-border: hsl(var(--yz13-neutral-800));
  --activity-lvl-4-bg: hsl(var(--yz13-foreground));
  --activity-lvl-4-border: hsl(var(--yz13-foreground));
}

.activity-lvl-1 {
  background-color: var(--activity-lvl-1-bg);
  border: 1px solid var(--activity-lvl-1-border);
}
.activity-lvl-2 {
  background-color: var(--activity-lvl-2-bg);
  border: 1px solid var(--activity-lvl-2-border);
}
.activity-lvl-3 {
  background-color: var(--activity-lvl-3-bg);
  border: 1px solid var(--activity-lvl-3-border);
}
.activity-lvl-4 {
  background-color: var(--activity-lvl-4-bg);
  border: 1px solid var(--activity-lvl-4-border);
}

@layer base {
  ::selection {
    @apply bg-foreground text-background;
  }
}

.header {
  height: var(--header-height);
}
.page-wrapper {
  min-height: var(--page-wrapper-height);
}

.templates-grid {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.connector {
  & > path {
    stroke: hsl(var(--yz13-neutral-300));
  }
}
.logo {
  & > path {
    fill: hsl(var(--yz13-foreground));
  }
}
.light-mode-thumbnail {
  display: block;
}
.dark-mode-thumbnail {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .light-mode-thumbnail {
    display: none;
  }
  .dark-mode-thumbnail {
    display: block;
  }
}
