@import url("https://ooybokfuxqwahirzlujp.supabase.co/storage/v1/object/public/static/css/vars.css");
@import url("@yz13/mono/globals.css");
@import url("./markdown.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yz13-background: var(--yz13-neutral-100);
  --activity-lvl-0-bg: hsl(var(--yz13-background));
  --activity-lvl-0-border: hsl(var(--yz13-neutral-300));
  --activity-lvl-1-bg: hsl(var(--yz13-neutral-200));
  --activity-lvl-1-border: hsl(var(--yz13-neutral-400));
  --activity-lvl-2-bg: hsl(var(--yz13-neutral-400));
  --activity-lvl-2-border: hsl(var(--yz13-neutral-600));
  --activity-lvl-3-bg: hsl(var(--yz13-neutral-600));
  --activity-lvl-3-border: hsl(var(--yz13-neutral-800));
  --activity-lvl-4-bg: hsl(var(--yz13-foreground));
  --activity-lvl-4-border: hsl(var(--yz13-foreground));

  --container-padding-right: 2.5rem;
  --container-padding-left: 1.5rem;
  --container-nav-sidebar-width: 13rem;
  --container-gap: 1.5rem;
  --container-width: calc(100% - var(--container-gap) - var(--container-padding-right));
}

@media (prefers-color-scheme: dark) {
  :root {}
}

@media (min-width: 768px) {
  :root {
    --container-nav-sidebar-width: 2.25rem;
  }
}

.activity-lvl-0 {
  background-color: var(--activity-lvl-0-bg);
  border: 1px solid var(--activity-lvl-0-border);
}

.activity-lvl-1 {
  background-color: var(--activity-lvl-1-bg);
  border: 1px solid var(--activity-lvl-1-border);
}

.activity-lvl-2 {
  background-color: var(--activity-lvl-2-bg);
  border: 1px solid var(--activity-lvl-2-border);
}

.activity-lvl-3 {
  background-color: var(--activity-lvl-3-bg);
  border: 1px solid var(--activity-lvl-3-border);
}

.activity-lvl-4 {
  background-color: var(--activity-lvl-4-bg);
  border: 1px solid var(--activity-lvl-4-border);
}

@layer base {
  ::selection {
    @apply bg-foreground text-background;
  }
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  height: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.header {
  height: var(--header-height);
}

.page-wrapper {
  min-height: var(--page-wrapper-height);
}

.templates-grid {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.connector {
  &>path {
    stroke: hsl(var(--yz13-neutral-300));
  }
}

.logo {
  &>path {
    fill: hsl(var(--yz13-foreground));
  }
}

.light-mode-thumbnail {
  display: block;
}

.dark-mode-thumbnail {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-mode-thumbnail {
    display: none;
  }

  .dark-mode-thumbnail {
    display: block;
  }
}

.list-ul {
  @apply list-none;

  &>li {
    @apply relative mb-2 pl-1 text-foreground/75;
  }

  &>li::before {
    content: "–";
    @apply text-secondary -left-3 absolute;
  }

}

.list-ol {
  @apply list-decimal;

  &>li {
    @apply relative mb-2 pl-1 font-light text-foreground;
  }

  &>li::before {
    @apply text-secondary -left-3 absolute;
  }
}

.list {
  @apply m-2 ml-4 list-inside
}
