@tailwind components;

@layer components {
  .md-layout > h1 {
    @apply text-4xl font-bold text-foreground;
  }
  .md-layout > h2 {
    @apply text-3xl font-bold text-foreground;
  }
  .md-layout > h3 {
    @apply text-2xl font-bold text-foreground;
  }
  .md-layout > h4 {
    @apply text-xl font-bold text-foreground;
  }
  .md-layout > h5 {
    @apply text-lg font-bold text-foreground;
  }
  .md-layout > h6 {
    @apply text-base font-bold text-foreground;
  }
  .md-layout > ul {
    @apply m-2 ml-4 list-none list-inside;
  }
  .md-layout > ol {
    @apply m-2 ml-4 list-decimal list-inside;
  }
  .md-layout > ol > li {
    @apply relative mb-2 pl-1 font-light text-foreground;
  }
  .md-layout > ol > li::before {
    content: "–";
    @apply text-secondary -left-3 absolute;
  }
  .md-layout > ul > li {
    @apply relative mb-2 pl-1 text-foreground;
  }
  .md-layout > ul > li::before {
    content: "–";
    @apply text-secondary -left-3 absolute;
  }
  .md-layout > strong {
    @apply font-bold text-inherit;
  }
  .md-layout > blockquote {
    @apply p-2 my-2 rounded-lg h-fit bg-accents-1;
  }
  .md-layout > a {
    @apply text-foreground hover:underline;
  }
  .md-layout > p,
  span {
    @apply text-foreground/75;
  }
  .md-layout > h1 {
    @apply mt-12 mb-6;
  }
  .md-layout > h2 {
    @apply mt-10 mb-6;
  }
  .md-layout > h3 {
    @apply mt-9 mb-6;
  }
  .md-layout > h4 {
    @apply mt-8 mb-6;
  }
  .md-layout > h5 {
    @apply mt-7 mb-6;
  }
  .md-layout > h6 {
    @apply mt-6 mb-6;
  }
  .md-layout > p {
    @apply my-4;
  }
  .md-layout > span {
    @apply my-4;
  }
  .md-layout > figure {
    @apply my-6;
  }
  .md-layout > ul {
    @apply mx-3.5;
  }
}
